@import 'design-system';
@import '~steller-css/index';
@import '~normalize.css';
@import 'base/index';
@import 'templates/index';
@import 'components/index';
@import 'theming';

// web fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

html,
body {
  font-family: font-family('primary');
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'kern' 1, 'kern';
  font-kerning: 'normal';
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-family('secondary');
}

h1 {
  font-size: var(--font-size-4xl);
  letter-spacing: 0.05rem;

  @include below-breakpoint(lg) {
    font-size: var(--font-size-2xl);
  }
}

h2 {
  font-size: var(--font-size-xl);
  letter-spacing: 0.05rem;

  @include below-breakpoint(lg) {
    font-size: var(--font-size-lg);
  }
}

p {
  line-height: 1.5rem;
}

.main {
  padding-top: 120px;

  @include below-breakpoint(md) {
    padding-top: 100px;
  }
}

.font-family-primary {
  font-family: font-family('primary');
}

.font-family-secondary {
  font-family: font-family('secondary');
}
