@import 'design-system';
@import '~steller-css/index';
@import '~normalize.css';
@import 'base/index';
@import 'components/index';
@import 'theming';

// web fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap');

html,
body {
  font-family: font-family('primary');
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'kern' 1, 'kern';
  font-kerning: 'normal';
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font-family('secondary');
}

p,
span,
div {
  line-height: 1.5rem;
}

.font-family-primary {
  font-family: font-family('primary');
}

.font-family-secondary {
  font-family: font-family('secondary');
}
