.post-body {
  font-size: 1.25rem;
  margin: 32px 0;
  font-weight: 500;
  font-family: var(--font-family-body);

  @include below-breakpoint(lg) {
    font-size: 1rem;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    margin: 12px 0;
  }

  p {
    margin: 24px 0;
    line-height: 1.6;
  }

  a {
    @include link-styles;
  }

  blockquote {
    margin: 0;
    border-color: var(--color-light-gray);
    border: 0;
    border-left-width: 3px;
    border-style: solid;
    background-color: var(--theme-blockquote-background);
    color: var(--color-light-gray);
    padding: 2px 12px;
  }

  pre[class*='language-'] {
    background-color: var(--theme-code-block-background);
    padding: 1em;
    margin: 0;
    border-radius: var(--border-radius-sm);

    .function-variable,
    .function {
      color: var(--color-primary);
    }
  }

  .filename {
    font-size: 1.1rem;
    color: var(--color-white);
    padding: 10px 0px 10px 12px;
    margin: 0 5px;
    background-color: var(--theme-code-block-filename-background);
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    font-family: var(--font-family-secondary);
  }

  .language-text {
    color: var(--theme-highlighted-text-color);
    background-color: var(--theme-highlighted-text-background);
  }
}

#disqus_thread {
  padding-top: 64px;
  width: 100%;
}
