@mixin link-styles {
  text-decoration: none;
  cursor: pointer;
  color: var(--theme-link-color);
  border-color: var(--theme-link-underline-color);

  &:not(.no-underline) {
    border-width: 0 0 2px 0;
    border-style: dashed;
  }

  &:hover {
    border-width: 0 0 2px 0;
    border-style: dashed;
    color: var(--theme-link-hover-color);
    border-color: var(--theme-link-underline-hover-color);
    transition: border-style var(--speed-extra-slow) linear;
  }

  &:visited {
    color: var(--theme-link-color);
  }

  &.gradient {
    color: var(--theme-link-color);
    border-width: 0px;
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      border-width: 0 0 2px 0;
      border-style: dashed;
      border-color: var(--color-primary);
    }
  }
}

.link {
  @include link-styles;
}
